---
layout: default
---

<div class="container">
  <div class="row">
    <div class="column-small-push-1 column-small-10">
      {% for post in site.posts %}
        <a class="list-group-element color-inherit" href="{{ post.url }}">
          <h1 class="list-group-element-heading color-link">
            {{ post.title | escape }}
          </h1>
          <p class="list-group-element-note">
            {{ post.date | date: "%Y年%m月%d日" }}
          </p>
          <p class="list-group-element-description">
            {{ post.description }}
          </p>
          <div class="list-group-element-actors">
            <div class="row">
              {% for actor_id in post.actor_ids %}
                {% assign actor = site.actors[actor_id] %}
                <div class="column-small-4">
                  <div class="list-group-element-actor">
                    <img src="{{ actor.image_url }}" alt="{{ actor.name }}" class="list-group-element-actor-icon" width="32" height="32">
                    <span class="list-group-element-actor-name">
                      {{ actor.name }}
                    </span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
