<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            {{ site.title }} とは
          </h1>
          <div class="footer-sections-element-description">
            <p>
              {{ site.title }} は、{{ site.description_long }}です。
            </p>
            <p>
              <a href="/manifesto">やっていき宣言</a>
              /
              <a href="/manifesto-en">English</a>
            </p>
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            #{{ site.hashtag }}
          </h1>
          <div class="footer-sections-element-description">
            {{ site.title }} への感想や質問などは、Twitterでハッシュタグ <a href="https://twitter.com/search?q=%23{{ site.hashtag }}" target="_blank">#{{ site.hashtag }}</a> を付けて投稿していただけると助かります。
          </div>
          <a href="https://twitter.com/intent/tweet?hashtags=yatteikifm&url={{ site.url }}">
            <img src="/images/tweet-button.png" alt="twitterでつぶやく" height="27">
          </a>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            購読
          </h1>
          <div class="footer-sections-element-description">
            新しいエピソードの配信を購読できます。
          </div>
          <ul>
            <li>
              <a href="{{ site.itunes_podcast_url }}" target="_blank">iTunesで購読</a>
            </li>
            <li>
              <a href="{{ site.android_podcast_subscription_url }}" target="_blank">Androidで購読</a>
            </li>
            <li>
              <a href="{{ site.pushdog_subscription_url }}" target="_blank">Pushdogで購読</a>
            </li>
            <li>
              <a href="{{ site.url }}/feed.xml" target="_blank">RSSで購読</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      © 2016 <a href="/">{{ site.title }}</a>
    </div>
  </div>
</footer>
{% include google-analytics.html %}
