<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            {{ site.title }} とは
          </h1>
          <div class="footer-sections-element-description">
            {{ site.title }} は、{{ site.description_long }}です。
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            #{{ site.hashtag }}
          </h1>
          <div class="footer-sections-element-description">
            {{ site.title }} への感想や質問などは、Twitterでハッシュタグ <a href="https://twitter.com/search?q=%23{{ site.hashtag }}" target="_blank">#{{ site.hashtag }}</a> を付けて投稿していただけると助かります。
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            購読
          </h1>
          <div class="footer-sections-element-description">
            新しいエピソードの配信を購読できます。
          </div>
          <ul>
            <li>
              <a href="https://itunes.apple.com/jp/podcast/yatteiki.fm/id1170904671?mt=2" target="_blank">iTunesで購読</a>
            </li>
            <li>
              <a href="http://subscribeonandroid.com/yatteikifm.github.io/feed.xml" target="_blank">Androidで購読</a>
            </li>
            <li>
              <a href="https://push.dog/subscribe?url=https%3A%2F%2Fyatteikifm.github.io%2Ffeed.xml" target="_blank">Pushdogで購読</a>
            </li>
            <li>
              <a href="https://yatteikifm.github.io/feed.xml" target="_blank">RSSで購読</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      © 2016 <a href="/">{{ site.title }}</a>
    </div>
  </div>
</footer>
