<header class="header {% if include.is_dark %}header-dark{% endif %}">
  <div class="container">
    <h1 class="header-logo">
      <a href="/">
        YATTEIKI
      </a>
    </h1>
    <nav class="header-navigation">
      <a href="/" class="header-navigation-element">
        ラジオ
      </a>
      <a href="/tv" class="header-navigation-element">
        動画
      </a>
      <a href="https://medium.com/yatteiki" class="header-navigation-element" target="_blank">
        ブログ
      </a>
    </nav>
  </div>
</header>
