---
articles:
  - actor_ids:
      - ntddk
      - mizchi
      - itopoid
    date: 2017年11月23日
    description:
      Reactの国内第一人者mizchi&若手クリエイターitopoidが送るふんわりガチ目のトーク番組！
      今回は、セキュリティ研究若手ホープのntddk氏をゲストに迎えてワイワイ盛り上がります！
    links:
      - title: 【ゲスト：ntddk】×【mizchi×itopoid】生放送なら凍らないっ！ #02 - YouTube
        url: https://www.youtube.com/watch?v=orOnEgR72aY
      - title: YouTube 『YATTEIKI Project』チャンネル
        url: https://www.youtube.com/channel/UCUB9La53VDXJ76msVSzZdTA
    title: 【ゲスト：ntddk】×【mizchi×itopoid】生放送なら凍らないっ！ &#35;02
    youtube_embed_url: https://www.youtube.com/embed/orOnEgR72aY?rel=0
  - actor_ids:
      - itopoid
      - 9m
      - r7kamura
      - soramugi
    date: 2017年10月28日
    description:
      祝yatteiki.fm1周年をテーマに、メンバー全員で送るしっぽりトーク番組！
      ポッドキャスト、生放送、リアルイベント…YATTEIKI PROJECTの裏側ぜんぶバラします！
      夜に、屋台でおでんを食べながら。
    links:
      - title: 【yatteiki.fm1周年】おでん屋台でKPT - YouTube
        url: https://www.youtube.com/watch?v=J7LgoApyAZ4
      - title: YouTube 『YATTEIKI Project』チャンネル
        url: https://www.youtube.com/channel/UCUB9La53VDXJ76msVSzZdTA
    title: 【yatteiki.fm 1周年】おでん屋台で KPT
    youtube_embed_url: https://www.youtube.com/embed/J7LgoApyAZ4?rel=0
  - actor_ids:
      - mizchi
      - itopoid
    date: 2017年10月21日
    description:
      React の国内第一人者 mizchi と若手クリエイター itopoid が送る、ふんわりガチ目のトーク番組！
      初回は、mizchi の Twitter 凍結問題をメインに様々な話題に切り込みます！
    links:
      - title: 【mizchi×itopoid】生放送なら凍らないっ！ #01 - YouTube
        url: https://www.youtube.com/watch?v=tYXZn8lbd4k
      - title: YouTube 『YATTEIKI Project』チャンネル
        url: https://www.youtube.com/channel/UCUB9La53VDXJ76msVSzZdTA
    title: 【mizchi×itopoid】生放送なら凍らないっ！ &#35;01
    youtube_embed_url: https://www.youtube.com/embed/tYXZn8lbd4k?rel=0
description: やっていき手の映像コンテンツ
image_path: /images/yatteiki-tv-logo-square.png
title: YATTEIKI TV
---

<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html is_dark=true %}
    <main>
      <section class="section-tv">
        <div class="container">
          <img src="/images/yatteiki-tv-logo-slim.png">
          <p class="section-tv-description">
            やっていき手の映像コンテンツ
          </>
        </div>
      </section>
      <section class="main">
        <div class="container">
          {% for article in page.articles %}
            <div class="card">
              <div class="card-header">
                <h1 class="card-heading">
                  {{ article.title }}
                </h1>
                <div class="card-note">
                  {{ article.date }}
                </div>
              </div>
              <div class="card-body">
                <div class="card-movie">
                  <iframe width="862" height="485" src="{{ article.youtube_embed_url }}" frameborder="0" gesture="media" allowfullscreen></iframe>
                </div>
                <p class="card-description">
                  {{ article.description }}
                </p>
                <div class="card-actors row">
                  {% for actor_id in article.actor_ids %}
                    {% assign actor = site.actors[actor_id] %}
                    <div class="column-small-4">
                      <a href="{{ actor.url }}" class="card-actor" target="_blank">
                        <img src="{{ actor.image_url }}" alt="{{ actor.name }}" class="card-actor-icon" width="72" height="72">
                        <div class="card-actor-name">
                          {{ actor.name }}
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                </div>
                <div class="markdown">
                  <ul>
                    {% for link in article.links %}
                      <li>
                        <a href="{{ link.url }}" target="_blank">
                          {{ link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
