.article {
  &-header {
    margin-bottom: 24px;

    &-heading {
      font-size: 1.5rem;
    }

    &-note {
      color: $color-text-dark-secondary;
      font-size: 0.9em;
    }
  }

  audio {
    width: 100%;
  }
}
