a {
  &,
  &:active,
  &:focus,
  &:hover {
    color: #427ea3;
    text-decoration: none;
  }
}

body {
  color: $color-text-dark-primary;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}
