.card {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 24px;

  &-body,
  &-header {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  &-body + &-body,
  &-header + &-body {
    padding-top: 0;
  }
}
