.section {
  &-top {
    padding-bottom: 8rem;
    padding-top: 10rem;
  }

  &-tv {
    background-color: #fff;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 9rem;

    &-description {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
